:root {
  --primary-color      : #8000ff;
  --secondary-color    : #ff00ff;
  --accent-color       : #00ffff;
  --background-color   : #000;
  --text-color         : #fff;
  --font-weight-regular: 400;
  --font-weight-medium : 500;
  --font-weight-bold   : 700;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family     : 'Orbitron', sans-serif;
  font-size       : 16px;
  color           : var(--text-color);
  background-color: var(--background-color);
  font-weight     : var(--font-weight-regular);
}

#root {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
}

h1 {
  font-size  : clamp(28px, 2.5rem, 32px);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size  : clamp(24px, 2rem, 28px);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size  : clamp(20px, 1.75rem, 24px);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size  : clamp(18px, 1.5rem, 22px);
  font-weight: var(--font-weight-medium);
}

h5 {
  font-size  : clamp(16px, 1.33rem, 20px);
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size  : clamp(14px, 1.17rem, 18px);
  font-weight: var(--font-weight-medium);
}

p {
  line-height: 1.5;
}

a {
  color          : var(--primary-color);
  text-decoration: none;
  font-weight    : var(--font-weight-medium);
}

a:hover {
  color: darken(var(--primary-color), 10%);
}

a:visited {
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color           : #fff;
  padding         : 10px 20px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  font-weight     : var(--font-weight-bold);
  font-family     : 'Orbitron', sans-serif;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color           : #fff;
  padding         : 10px 20px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  font-weight     : var(--font-weight-bold);
  font-family     : 'Orbitron', sans-serif;
}

.btn-text {
  background-color: transparent;
  color           : var(--primary-color);
  padding         : 5px 10px;
  border          : none;
  cursor          : pointer;
  font-weight     : var(--font-weight-medium);
  font-family     : 'Orbitron', sans-serif;
}